<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find spawn_robot_tools_pkg)/launch/spawn_robot_urdf.launch">
        <arg name="x" value="1.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="0.25" />
        <arg name="urdf_robot_file" value="$(find jibo_description)/urdf/jibo.urdf" />
        <arg name="robot_name" value="jibo" />
    </include>
</launch>